.page-title {
  background-color: #cdd7d9;
  text-align: center;
  padding: 10px 0;
  font-weight: 500;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

.checkout-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.checkout__shopping-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto;
  grid-template-rows: auto;
  max-width: 500px;
  margin: 20px;
  align-items: start;
  margin: 20px auto;
}

.checkout__shopping-header {
  grid-column: span 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.checkout__line {
  border: 1px solid #222;
  grid-column: span 3;
}

.featured__img {
  max-width: 75px;
  grid-column: 1;
}

.featured__img img {
  width: 100%;
}

.checkout__shopping-info {
  align-self: start;
  grid-row: 3;
  grid-column: 2;
}

.checkout__shopping-info h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.checkout__shopping-info h4 {
  font-size: 0.8rem;
}

.checkout__shopping-info h4 span {
  font-weight: 700;
}

.checkout__shopping-info h5 {
  font-size: 1.3em;
  font-weight: 600;
  margin-top: 10px;
}

.checkout__shopping-icons {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.add-remove {
  display: inline-block;
  border: 1px solid rgba(180, 101, 27, 0.9);
  border-radius: 2px;
  background-color: rgba(180, 101, 27, 0.75);
  margin-top: 40px;
}

.add-remove span {
  background-color: rgba(233, 229, 222, 1);
  padding: 0 5px;
  font-weight: 700;
}

.fa-trash-can {
  font-size: 1rem;
}

.checkout__payment-container {
  display: grid;
  row-gap: 0.8rem;
  grid-template-columns: 1fr;
  margin: 20px auto;
  padding: 20px;
  background-color: #eff3f4;
  border-radius: 2px;
  border: 1px solid rgba(10, 54, 65, 0.1);
  max-width: 500px;
}

.checkout__payment-header {
  font-weight: 700;
  grid-column: span 2;
}

.checkout__payment-info {
  font-family: "Nunito", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-weight: 400;
  column-gap: 2rem;
}

p {
  font-size: 0.6rem;
}

.promo-code {
  font-size: 0.8rem;
  margin-top: 20px;
}

.grid-col-2 {
  text-align: right;
  font-weight: 600;
  text-transform: uppercase;
}

.checkout__shopping-total {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 2fr 1fr;
}

.return {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 50px 0;
}

.return a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
}

.checkout__payment-container a {
  grid-row: 6;
}
