.hero-jackets {
  max-width: 1000px;
  margin: 0 auto;
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)),
    url(/images/woman-hiking.jpg) no-repeat;
  background-size: cover;
  min-height: 20vh;
  background-position: 50% 70%;
}

.hero-jackets h1 {
  font-family: "Roboto Serif", Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  color: #eff3f4;
  font-size: 2em;
  text-align: center;
  padding: 1em 0.5em;
}

.filter {
  max-width: 1000px;
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

select, 
option, 
.filter {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

select, 
option {
  border-radius: 2px;
  border: 0.5px solid rgba(239, 243, 244, 1);
}

hr {
  max-width: 1000px;
  margin: 0 10px;
}

.filter p {
  font-weight: 400;
}

.filter span {
  font-weight: 600;
}