/* Media Queries */
@media (max-width: 415px) {
    .featured { /* ---checkout--- */
        grid-template-columns: 1fr;
    }

    .footer-content { /* ---styles--- */
        display: grid;
        grid-template-columns: 1fr;
    }

}

@media (min-width: 439px) {
    .order-summary, 
    .payment-summary__container,
    .shopping-bag__container { /* ---checkout.css--- */
        margin: 20px auto;
  }

}

@media (min-width: 600px) {
  nav ul { /* styles.css */
    text-align: center;
    max-width: 1000px;
    margin: 20px auto;
  }

  nav li { /* styles.css */
    display: inline;
    padding: 10px;
  }

  .activity {  /*styles.css */
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 800px) {
    .featured { /* checkout.css */
        grid-template-columns: repeat(3, 1fr);
        max-width: 1000px;
    }

    .page-grid { /* --- checkout.css--- */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 1000px;
        margin: 50px auto;
        gap: 30px;
    }

    .payment-summary__container { /* --- checkout.css--- */
        padding: 20px;
    }
}

@media (min-width: 1000px) {
    .sub-header { /* styles.css */
        max-width: 1000px;
        margin: 20px auto;
    }

    .featured {
        margin: 0 auto;
    }

    .breadcrumbs { /* styles.css */
        max-width: 1000px;
        margin: 10px auto;
    }

    .filter-line { /* jackets.css */
        max-width: 1000px;
        margin: 20px auto;
    }

    hr { /* jackets.css */
        max-width: 1000px;
        margin: 0 auto;
    }
    
    .breadcrumbs div { /* styles.css */
        max-width: 1000px;
        margin: 5px auto;
    }

    .filter { /* jackets.css */
        margin: 10px auto;
    }

    .activity {  /*styles.css */
        grid-template-columns: repeat(4, 1fr);
    }
}