body {
    background-color: FAFEFF;
}

nav, #menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

header {
    position: relative;
}

nav {
    position: absolute;
}

nav a {
    display: block;
}

.top-header {
    background-color: #EFF3F4;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    gap: 50px;
}

.logo {
    width: auto;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.icon {
    background-color: #CDD7D9;
    height: 30px;
    width: 30px;
    border-radius: 50px;

}

h1 {
    font-size: 48px;
    color: #0A3641;
}

img {
    width: 300px;
}