/* Universal */
* {
  margin: 0;
  padding: 0;
}

/* Header */
#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

nav {
  display: none;
  position: absolute;
  top: 112px;
  left: 0;
  width: 100%;
  background-color: rgba(10, 54, 65, 0.95);
  z-index: 1000;
}

nav a {
  text-decoration: none;
  color: #eff3f4;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2em;
}

nav ul {
  margin: 5px auto;
  text-align: left;
  margin-left: 15px;
}

nav li {
  display: block;
  padding: 5px;
}

header,
footer {
  background-color: #eff3f4;
}

.header-bar {
  max-width: 1000px;
  height: 7em;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  height: 5em;
}

i {
  color: #222222;
  font-size: 0.9em;
}

.icon {
  background-color: #cdd7d9;
  padding: 0.5em;
  border-radius: 50px;
}

.nav-bar {
  font-size: 2em;
  color: #0a3641;
}

/* Links */
.cta {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(180, 101, 27, 1);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 12px 24px;
  min-width: 100px;
  border-radius: 2px;
}

a {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

.new-collection__cta {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5em 1em;
  min-width: 50px;
  border: 5px solid #b4651b;
  border-radius: 2px;
}

/* Home Page */
.hero {
  background:
    linear-gradient(to top, rgba(255, 255, 255, 0.3), transparent),
    URL(/images/man-on-mountaintop.jpg) no-repeat;
  background-position: 10% 70%;
  min-height: 40vh;
  background-size: cover;
  width: 100%;
  position: relative;
}

.hero__content {
  max-width: 1000px;
  margin: 0 auto;
  min-width: 210px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 20px;
}

.hero__content h1 {
  color: #0a3641;
  text-shadow: 0 2px 4px rgba(34, 34, 34, 0.3);
  font-family: "Roboto Serif";
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.hero__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  top: 50px;
}

.sub-header {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

hr {
  border: none;
  border-top: 1px solid #222;
  position: relative;
  margin-top: 5px;
}

.featured {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  margin: 20px auto;
}

.featured__card {
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
}

.featured__img {
  display: block;
  border: 1px solid #cdd7d9;
  background-color: rgba(10, 54, 65, 0.1);
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.1);
  margin: 10px;
  padding: 20px;
  height: 20vh;
  min-width: 100px;
}

.featured__card img {
  width: 100%;
  height: 100%;
}

.featured__info {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  color: #222;
  font-family: Nunito;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

p {
  font-weight: 900;
}

.cta__browse {
  max-width: 1000px;
  margin: 20px auto;
  display: block;
  text-align: center;
}

.new-collection {
  background:
    no-repeat,
    linear-gradient(rgba(239, 243, 244, 0.2), rgba(239, 243, 244, 0.2)),
    url(/images/woman\ downhill\ skiing.jpg);
  background-size: cover;
  min-height: 20vh;
  width: 100%;
  max-width: 1000px;
  margin: 50px auto;
  background-position: 20% 57%;
}

.new-collection__content {
  max-width: 1000px;
  margin: 0 auto;
  text-align: right;
  color: #fff;
  padding: 1em 1.5em;
}

.new-collection__content h1 {
  font-family: "Roboto Serif", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.new-collection__content h2 {
  font-family: "Nunito", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

.new-collection__links {
  text-align: right;
  padding: 1em 1.5em;
}

.activity {
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activity__card {
  background:
    linear-gradient(rgba(10, 54, 65, 0.2), rgba(10, 54, 65, 0.2)),
    url(/images/man-hiking.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  width: 310px;
  height: 196px;
  border: 2px solid #0a3641 30%;
  border-radius: 2px;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "roboto", Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.footer-content {
  padding: 40px 20px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

footer div h1 {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  padding-bottom: 10px;
}

footer div i {
  margin: 0 1px;
  color: #0a3641;
  font-size: 1.5em;
}

footer {
  margin-top: 50px;
  text-align: center;
}

/* Media Queries */
@media (min-width: 600px) {
  nav {
    background-color: rgba(205, 215, 217);
  }

  nav ul {
    text-align: center;
    max-width: 1000px;
    margin: 10px auto;
  }

  nav li {
    display: inline;
    padding: 10px;
  }
}

/* Test */
