/* Universal */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

/* Header */
#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

nav {
  display: none;
  position: absolute;
  top: 112px;
  left: 0;
  width: 100%;
  background-color: rgba(10, 54, 65, 0.95);
  z-index: 1000;
}

nav a {
  text-decoration: none;
  color: #eff3f4;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2em;
}

nav ul {
  margin: 5px auto;
  text-align: left;
  margin-left: 15px;
}

nav li {
  display: block;
  padding: 5px;
}

header,
footer {
  background-color: #eff3f4;
}

footer {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

.header-bar {
  max-width: 1000px;
  height: 7em;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  height: 5em;
}

i {
  color: #222222;
  font-size: 0.9em;
}

.icon {
  background-color: #cdd7d9;
  padding: 0.5em;
  border-radius: 50px;
}

.nav-bar {
  font-size: 2em;
  color: #0a3641;
}

.current:hover {
  text-decoration: underline;
}

/* Links */
.cta {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(180, 101, 27, 1);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 12px 24px;
  min-width: 100px;
  border-radius: 2px;
}

.cta-large {
  padding: 1em 1em;
  margin: 10px 0px;
  display: block;
  font-weight: 700;
}

a {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

.new-collection__cta {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5em 1em;
  min-width: 50px;
  border: 5px solid #b4651b;
  border-radius: 2px;
}

.breadcrumbs div {
  max-width: 1000px;
  margin: 5px;
  margin-bottom: 20px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.fa-circle {
  font-size: 4px;
}

.breadcrumbs a {
  text-decoration: none;
  color: #222;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
  font-size: 0.9rem;
}

/* ------ Home Page ------ */
.hero {
  background:
    linear-gradient(to top, rgba(255, 255, 255, 0.3), transparent),
    URL("images/man-on-mountaintop.jpg") no-repeat;
  background-position: 10% 70%;
  min-height: 30vh;
  background-size: cover;
  width: 100%;
  position: relative;
}

.hero__content {
  max-width: 1000px;
  margin: 0 auto;
  min-width: 210px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 20px;
}

.hero__content p {
  display: none;
}

.hero__content h1 {
  color: #0a3641;
  text-shadow: 0 2px 4px rgba(34, 34, 34, 0.3);
  font-family: "Roboto Serif";
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.hero__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  top: 50px;
}

.sub-header {
  max-width: 1000px;
  margin-top: 20px;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  margin-left: 10px;
}

hr-index {
  border: none;
  border-top: 1px solid #222;
  position: relative;
  margin-top: 5px;
  margin-left: 10px;
}

.featured {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 600px;
  gap: 30px;
  margin: 20px 10px;
}

.featured__card {
  max-width: 1000px;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
}

.featured__img {
  display: block;
  border: 1px solid #cdd7d9;
  background-color: rgba(10, 54, 65, 0.1);
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.1);
  padding: 10px;
  grid-column: span 2;
  margin-bottom: 5px;
  position: relative;
}

.featured__img-small {
  padding: 0.2rem 0.2rem;
}

.featured__card img {
  width: 100%;
}

.featured__card h3,
.price {
  margin: 0 10px;
  color: #222;
  font-family: "Nunito", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
  align-self: center;
}

.colour {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid rgba(34, 34, 34, 0.5);
  margin: 5px 10px;
  justify-self: right;
  align-self: center;
}

.green {
  background-color: rgba(118, 105, 78, 1);
}

.black {
  background-color: #363636;
}

.grey {
  background-color: rgba(106, 101, 107, 1);
}

.red {
  background-color: rgba(226, 0, 4, 1);
}

p {
  font-weight: 900;
}

.cta__browse {
  max-width: 1000px;
  margin: 30px auto;
  display: block;
  text-align: center;
}

.new-collection {
  background:
    no-repeat,
    linear-gradient(rgba(239, 243, 244, 0.2), rgba(239, 243, 244, 0.2)),
    url(/images/woman\ downhill\ skiing.jpg);
  background-size: cover;
  min-height: 20vh;
  width: 100%;
  max-width: 1000px;
  margin: 50px auto;
  background-position: 20% 57%;
}

.new-collection__content {
  max-width: 1000px;
  margin: 0 auto;
  text-align: right;
  color: #fff;
  padding: 1em 1.5em;
}

.new-collection__content h1 {
  font-family: "Roboto Serif", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.new-collection__content h2 {
  font-family: "Nunito", Verdana, Geneva, Tahoma, sans-serif;
}

.new-collection__links {
  text-align: right;
  padding: 1em 1.5em;
}

.activity {
  max-width: 1000px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 15px;
}

.activity__card {
  width: 240px;
  height: 160px;
  border: 2px solid #0a3641 30%;
  border-radius: 2px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activity__card h1 {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.activity__hiking {
  background:
    linear-gradient(rgba(10, 54, 65, 0.2), rgba(10, 54, 65, 0.2)),
    url(/images/man-hiking.jpg) no-repeat;
}

.activity__skiing {
  background:
    linear-gradient(rgba(10, 54, 65, 0.2), rgba(10, 54, 65, 0.2)),
    url(/images/man\ downhill\ skiing.jpg) no-repeat;
}

.activity__camping {
  background:
    linear-gradient(rgba(10, 54, 65, 0.2), rgba(10, 54, 65, 0.2)),
    url(/images/camping-by-the-lake.jpg) no-repeat;
}

.activity__canoeing {
  background:
    linear-gradient(rgba(10, 54, 65, 0.2), rgba(10, 54, 65, 0.2)),
    url(/images/canoeing.jpg) no-repeat;
}

.activity__hiking,
.activity__skiing,
.activity__camping,
.activity__canoeing {
  background-position: center;
  background-size: cover;
}

/* ------ Footer ------ */
footer {
  margin-top: 50px;
  text-align: center;
  background-color: #cdd7d9;
  padding: 40px 0;
}

.footer-content {
  max-width: 300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  padding: 20px 10px;
}

.footer-content__socials {
  margin: 20px auto;
}

.footer-content__links {
  margin-left: 60px;
}

.footer-content h1 {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 500;
  text-align: left;
}

footer li {
  text-align: left;
  display: block;
  font-family: "Nunito", Verdana, Geneva, Tahoma, sans-serif;
}

footer i {
  margin: 0 1px;
  color: #0a3641;
  font-size: 1.5em;
}

.footer__line {
  display: none;
}

.newsletter h1 {
  text-align: center;
  margin: 15px 0;
}

.newsletter_email {
  border: 1px solid rgba(250, 254, 255, 0.8);
  display: inline-flex;
  padding: 5px;
  justify-content: center;
}

.newsletter_email p {
  font-family: "Nunito", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  padding: 5px 10px;
}

button {
  background-color: rgba(250, 254, 255, 0.8);
  border: rgba(250, 254, 255, 0.8);
  border-radius: 2px;
  padding: 5px 20px;
}
